.skills-menu-icon {
  width: 24px;
  height: 24px;
  margin: -4px 4px -2px -4px; }

.SkillsView {
  flex: 1;
  overflow-y: scroll;
  position: relative;
  padding: 20px 30px 20px 20px; }
  .SkillsView > .no-results {
    font-size: 16px;
    font-style: italic; }
    .SkillsView > .no-results:not(:first-child) {
      display: none; }
  .SkillsView .skill-category {
    padding-bottom: 10px; }
  .SkillsView h3 {
    position: sticky;
    top: -20px;
    background-color: #fff;
    margin: -16px -6px 0;
    padding: 16px 6px 10px; }
  .SkillsView ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .SkillsView .skill-view {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    margin: 8px 0;
    line-height: 16px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); }
    .SkillsView .skill-view.skill-added {
      background-color: #dfd; }
    .SkillsView .skill-view.skill-removed {
      background-color: #fdd; }
    .SkillsView .skill-view .bg-red {
      background-color: #f88; }
    .SkillsView .skill-view .bg-green {
      background-color: #8f8; }
  .SkillsView .skill-id {
    margin-left: 20px; }
    .SkillsView .skill-id a {
      font-family: monospace;
      color: #888; }
  .SkillsView .skill-rune {
    border-top: 1px solid #ccc; }
  .SkillsView .skill-header .skill-icon {
    margin-right: 10px; }
    .SkillsView .skill-header .skill-icon.image-loading {
      width: 0;
      height: 0;
      margin: 0;
      overflow: hidden; }
  .SkillsView .skill-header .skill-info .skill-name {
    font-size: 18px;
    line-height: 24px; }
  .SkillsView .skill-rune .rune-icon {
    display: block;
    background-image: url(/css/images/runes_large.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 17px 0 7px;
    padding-top: 50px;
    text-align: center;
    color: #666;
    text-transform: capitalize; }
    .SkillsView .skill-rune .rune-icon.rune-a {
      background-position: 0 0; }
    .SkillsView .skill-rune .rune-icon.rune-b {
      background-position: -50px 0; }
    .SkillsView .skill-rune .rune-icon.rune-c {
      background-position: -100px 0; }
    .SkillsView .skill-rune .rune-icon.rune-d {
      background-position: -150px 0; }
    .SkillsView .skill-rune .rune-icon.rune-e {
      background-position: -200px 0; }
  .SkillsView .skill-rune .skill-info .skill-name {
    font-size: 16px;
    line-height: 20px; }
  .SkillsView .skill-header, .SkillsView .skill-rune {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px; }
    .SkillsView .skill-header p, .SkillsView .skill-rune p {
      margin: 0; }
    .SkillsView .skill-header .skill-info, .SkillsView .skill-rune .skill-info {
      flex: 1;
      white-space: normal;
      vertical-align: top; }
      .SkillsView .skill-header .skill-info .skill-element, .SkillsView .skill-rune .skill-info .skill-element {
        margin-top: 6px;
        color: #666;
        font-style: italic; }
      .SkillsView .skill-header .skill-info .skill-level, .SkillsView .skill-rune .skill-info .skill-level {
        margin-top: 8px;
        color: #666; }
      .SkillsView .skill-header .skill-info .skill-flavor, .SkillsView .skill-rune .skill-info .skill-flavor {
        margin-top: 8px;
        font-style: italic;
        color: #888; }
      .SkillsView .skill-header .skill-info .skill-desc, .SkillsView .skill-rune .skill-info .skill-desc {
        margin-top: 8px; }
      .SkillsView .skill-header .skill-info .skill-desc + .skill-desc, .SkillsView .skill-rune .skill-info .skill-desc + .skill-desc {
        margin-top: 6px; }

.skill-passives .skill-view:not(:last-child) {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.skill-passives .skill-view:not(:first-child) {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
